<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-custom">
        <div class="header-content">
          <h4 class="card-title">Featured Videos</h4>
          <p class="card-category">Discover amazing content!</p>
        </div>
        <div class="header-actions">
          <button mat-raised-button color="primary" (click)="fileInput.click()">Select Video</button>
          <input type="file" (change)="onFileSelected($event)" accept="video/*" style="display: none" #fileInput />
        </div>
      </div>
      <div class="card-body">
        <div class="video-grid">
          <!-- List of YouTube videos -->
          <div *ngFor="let video of youtubeVideoUrls" class="youtube-video">
            <iframe [src]="getEmbeddedUrl(video.url)" width="100%" height="315" frameborder="0" allowfullscreen></iframe>
            <p class="video-description text-center" style="margin-top: 10px; font-size: 16px; color: #333; font-weight: bold;">
              {{ video.description }}
            </p>
            <!-- <p class="video-description text-center">{{ video.description }}</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
